.oneOrderItem {
    width: 80%;
    margin: 2% auto;
    background-image: url("../images/orderBG.jpg");
    background-size: cover;
    border-radius: 30px;
    font-size: 1.1em;
    font-weight: 600;
    padding: 1% 0;
}
.oneOrderHeader {
    display: flex;
    justify-content: space-evenly;
    gap: 50%;
    border-bottom: 1px solid black;
}
.responsiveOrderItem {
    display: flex;
    width: 40%;
    align-items: center;
    gap: 5%;
}
.oneOrderOrange {
    color: #ff7a21;
}
.colorizedLink {
    color: #ff7a21;
}
.colorizedLink:hover {
    text-decoration: underline;
}
.emptyOrders {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    border: 2px solid white;
}
.oneOrderDate {
    font-size: 0.8em;
    font-weight: 500;
    color: rgb(177, 177, 177);
}
.oneOrderTotal {
    font-size: 1.2em;
    text-align: center;
    font-weight: 700;
}
/*product css*/
.oneOrderOrdersList {
    margin-top: 1%;
}
.oneOrderOneProduct {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
}
.oneOrderOneProductImg {
    width: 50px;
}
.oneOrderOneProductName {
    width: 80%;
}
.oneOrderOneProductpriceQt {
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.oneOrderOneProductQt {
    font-size: 0.8em;
    font-weight: 500;
    color: rgb(177, 177, 177);
}
.oneOrderOneProductSubTotal {
    width: 10%;
    text-align: center;
}
.retreiveKey {
    width: 20%;
    border: 2px solid #346751;
    background-color: #346751;
    transition: all 0.3s ease;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    height: 8vh;
}
.retreiveKey:hover {
    border: 2px solid #346751;
    background-color: transparent;
}
.DeliveredKeys {
    width: 20%;
    text-align: center;
    color: #346751;
}

@media (max-width: 768px) {
    .myOrdersPage * {
        font-size: 1em;
    }
    .responsiveOrderItem {
        margin: 4% auto;
    }
    .myOrdersPage {
        width: 100%;
    }
    .oneOrderItem {
        width: 100%;
        margin-top: 10%;
    }
    .oneOrderHeader {
        gap: 10%;
    }

    .responsiveOrderItem {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .retreiveKey {
        margin-top: 5%;
        width: 60%;
    }
    .DeliveredKeys {
        margin-top: 5%;
        width: 60%;
    }

    .oneOrderOneProduct {
        flex-wrap: wrap;
        justify-content: space-evenly;
        border-bottom: 1px solid black;
        flex-direction: column;
    }
    .oneOrderOneProductName {
        width: 50%;
    }
    .oneOrderOneProductpriceQt {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 5%;
        justify-content: space-around;
        margin: 2% auto;
    }
    .oneOrderOneProductprice {
        width: 40%;
    }
    .oneOrderOneProductSubTotal {
        display: flex;
        width: 40%;

        flex-direction: row;
        align-items: center;
        gap: 5%;
    }
}
